In [6]:
tups=(2,"hello dfdf","dfdfdf")

In [7]:
tups

(2, 'hello dfdf', 'dfdfdf')

In [8]:
tups[1]

'hello dfdf'

In [9]:
tups[1]="try to change this"

TypeError: 'tuple' object does not support item assignment

In [17]:
tups[0:2]

(2, 'hello dfdf')

In [27]:
x=1
y=2
def quo_remain(x,y):
    quo=x//y
    remain=x%y
    return (quo,remain)
(quotient,remainder)=quo_remain(40,3)
print(quotient,remainder)

13 1

In [40]:
(tups[0],)+()

(2,)

In [62]:
def split_data(tuple_in):
    '''
    Input is a tuple of tuples where the sub-tuples have an integer in
    the zero index and a string in the 1st index.
    Output the number of numbers, min/max of the numbers, and unique
    words
    '''
    num=()
    words=()
    for tup in tuple_in:
        num=num+(tup[0],)
        if tup[1] not in words:
            words=words+(tup[1],)
    min_num=min(num)
    max_num=max(num)
    uniq_words=words
    
    return(min_num,max_num,uniq_words)

In [63]:
(min_num,max_num,uniq_words)=split_data(((5,"df"),(1,"df"),(22,"lol")))
print(min_num,max_num,uniq_words)

1 22 ('df', 'lol')

In [67]:
d=((2,"hi"),(3,"dd"))
print(d[1])

(3, 'dd')

In [68]:
tups=(1,2,"hello world",("my","tuple"))

In [72]:
tups[3]

('my', 'tuple')

In [74]:
len(tups)

4

In [83]:
list1=[1,1,2,"hi"]
print(list1)
print(len(list1))
list1[0]=23232
print(list1)

[1, 1, 2, 'hi']
4
[23232, 1, 2, 'hi']

In [85]:
l1=[1,4,6,7,22,0]
sum=0
for x in l1:
    sum=sum+x
print(sum)

40

In [92]:
tups(5)=("sds")

SyntaxError: cannot assign to function call (373058836.py, line 1)

In [104]:
l1.append(333)

In [106]:
l1.append([3,4,5])

In [108]:
l2=l1

In [111]:
l1+l2

[1, 4, 6, 7, 22, 0, 333, [3, 4, 5], 1, 4, 6, 7, 22, 0, 333, [3, 4, 5]]

In [116]:
[2,3]+[3,4]

[2, 3, 3, 4]

In [140]:
l1=[2,1,3]
l2=[4,5,6]
l3=l1+l2
print(l3)
l1=l1+l2
print(l1)
l1.extend([4,5,6])
print(l1)

[2, 1, 3, 4, 5, 6]
[2, 1, 3, 4, 5, 6]
[2, 1, 3, 4, 5, 6, 4, 5, 6]

In [126]:
l1.append(l2) #mutates

In [127]:
l1

[2, 1, 3, 4, 5, 6, 4, 5, 6, [4, 5, 6]]

In [141]:
l1.extend(l2)

In [129]:
l1

[2, 1, 3, 4, 5, 6, 4, 5, 6, [4, 5, 6], 4, 5, 6]

In [142]:
l1+l2

[2, 1, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [143]:
print(l1)
print(l1.pop())
print(l1)
l1.remove(5)
print(l1)
del(l1[3])
print(l1)

[2, 1, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6]
6
[2, 1, 3, 4, 5, 6, 4, 5, 6, 4, 5]
[2, 1, 3, 4, 6, 4, 5, 6, 4, 5]
[2, 1, 3, 6, 4, 5, 6, 4, 5]

In [148]:
# Convert lists to strings and back
s1="hello world this is s1"
print(s1)
print(list(s1)) # to list
print("".join(list(s1))) # to string
print(s1.split("this"))

hello world this is s1
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', '1']
hello world this is s1
['hello world ', ' is s1']

In [152]:
l1

[2, 1, 3, 6, 4, 5, 6, 4, 5]

In [153]:
sorted(l1) # doesn't mutate

[1, 2, 3, 4, 4, 5, 5, 6, 6]

In [155]:
l1.sort() # mutates
print(l1)

[1, 2, 3, 4, 4, 5, 5, 6, 6]

In [1]:
cool=[1,2,3]
warm=[1,2,3]
print(cool)
print(warm)

[1, 2, 3]
[1, 2, 3]

In [2]:
warm=["red","yellow","orange"]
sortedwarm=warm.sort() # mutates
print(warm)
print(sortedwarm)

warm=["red","yellow","orange"]
sortedwarm=sorted(warm) # does not mutate
print(warm)
print(sortedwarm)

['orange', 'red', 'yellow']
None
['red', 'yellow', 'orange']
['orange', 'red', 'yellow']

In [10]:
def applyToEach(L,func):
    for i in range(len(L)):
        L[i]=func(L[i])
    return L

In [20]:
L=[1,-2,3.4]
print(applyToEach(L,int))
print(applyToEach(L,abs))

[1, -2, 3]
[1, 2, 3]

In [24]:
def applyFuncs(L,x):
    for func in L:
        print(func(x))
applyFuncs([abs,int],-4.4)

4.4
-4

In [18]:
L=[-1,1,-4]
L2=[]
for elem in L:
    L2.append(abs(elem))
print(L2)
print(list(map(abs,[-1,1,-4])))

[1, 1, 4]
[1, 1, 4]

Dictionaries

In [6]:
# messy way
name_list=['ash','john','brian']
grades_list=['A',"B","C"]
course_list=["math","chem","phys"]

def get_grade(student):
    i=name_list.index(student)
    grade=grades_list[i]
    course=course_list[i]
    return(course,grade)
print(get_grade("ash")[0])
print(get_grade("ash"))

math
('math', 'A')

In [39]:
# key and value
my_dict={} # empty dict
grades_dict={"ash":"A","John":"B","Brian":"C"}
print(grades_dict["ash"])
print(grades_dict)
grades_dict["Ashish"]="A-"
print(grades_dict["Ashish"])

A
{'ash': 'A', 'John': 'B', 'Brian': 'C'}
A-

In [36]:
# test if key is in the dictionary
print("fan" in grades_dict)
print("ash" in grades_dict)

False
True

In [40]:
del grades_dict["Ashish"]

In [41]:
print(grades_dict)

{'ash': 'A', 'John': 'B', 'Brian': 'C'}

In [44]:
grades_dict.keys()

dict_keys(['ash', 'John', 'Brian'])

In [46]:
list(grades_dict.values())

['A', 'B', 'C']

In [48]:
for dict_keys in grades_dict.keys():
    print(dict_keys)

ash
John
Brian

In [60]:
# can have functions as dictionary values
grades_dict["myfunction"]=get_grade

In [61]:
grades_dict["myfunction"]("ash")

('math', 'A')

In [62]:
grades_dict[23]="my test"

In [64]:
grades_dict

{'ash': 'A',
 'John': 'B',
 'Brian': 'C',
 'myfunction': <function __main__.get_grade(student)>,
 23: 'my test'}

In [66]:
d={4:{1:0},(1,3):"dfd","hi":[3,4,"df"]}
print(d)

{4: {1: 0}, (1, 3): 'dfd', 'hi': [3, 4, 'df']}

In [2]:
# dictionaries with functions
def lyrics_to_frequences(lyrics):
    myDict={}
    for word in lyrics:
        if word in myDict:
            myDict[word] += 1
        else:
            myDict[word]=1
    return myDict

lyric_freq=lyrics_to_frequences(['hi','this','hi','bye','bye','hi','this','good'])


animals = { 'a': ['aardvark'], 'b': ['baboon'], 'c': ['coati']}

animals['d'] = ['donkey']
animals['d'].append('dog')
animals['d'].append('dingo')

def biggest(aDict):
    '''
    aDict: A dictionary, where all the values are lists.

    returns: The key with the largest number of values associated with it
    '''
    # Your Code Here
    max_count=0
    for key in aDict.keys():
        count=len(aDict[key])
        if count > max_count:
            max_count=count
            max_key=key
    return(max_key)


biggest(animals)

'd'